:root {

    font-size: 60%;

    --color-primary: #191919;
    --color-text-in-primary: #ffffff;
    --color-title-in-primary: #ffffff;
    //--color-text-in-primary: #D4C2FF;
    --color-text-title: #32264D;
    --color-text-complement: #9C98A6;
    --color-text-base: #424242;// #6A6180;
    --color-background-light: #faf8f9; //F0F0F7
    --color-line-in-white: #E6E6F0;
    --color-background-white: #ffffff;

    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color : #fff;
}

html, body, #root {
    height: 100vh;
}

body {
    background-color: var(--color-primary);
}

#root {
    display: flex;
    align-items: start;
    justify-content: center;
}

body,
input,
button,
textarea {
    font : 500 1.6rem arial;
}

.container {
    width: 100vw;
    max-width: 700px;
}

@media(min-width: 700px) {

    :root {
        font-size: 62.5%;
    }

}

