.browser {
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    background-color: var(--color-background);
    border-radius: 0.8rem;
    border: solid 1px var(--color-line-in-white);
}

.toolbar-container {
    width: 100%;
    height: 3.5rem;
}

.toolbar-container .toolbar-buttons {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    
    border-top: solid 0.1rem;
    border-bottom: solid 0.1rem;
    border-color:var(--color-line-in-white);
}

.common-header {
    width: 100%;
    height: 3.5rem;
    background-color: var(--color-header-backgound);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 0.5rem;
    label {
        color: var( --color-text-title);
        font: 700 1.6rem Poppins;
    }
    border-top-right-radius: 0.8rem;
    border-top-left-radius: 0.8rem;
}

.toolbar-container .toolbar-buttons button {

    display: flex;
    justify-content: center;
    align-items: center;
    border-color:var(--color-line-in-white);
    border-radius:2rem;
    border-style: solid;
    border-width: 0;
    box-shadow: 0;
    background-color: transparent;
    opacity: 1;
    transition: background-color 15ms; 
    height: 3.3rem;
    width: 3.3rem;
    cursor: pointer;
}


/*
.toolbar-container .toolbar-buttons button:hover {
  
    border-radius: 32px; 
}

.toolbar-container .toolbar-buttons button img {
    //  opacity: 0.75;
    -moz-transform: scale(0.87);
    -webkit-transform: scale(0.87);
    transform: scale(0.87);   
}

.toolbar-container .toolbar-buttons button img:hover {
    -moz-transform: scale(1.0);
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    //  opacity: 0.99;
    //   filter: alpha(opacity=100);    
}

*/